---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = Object.values(import.meta.glob("./posts/*.md", { eager: true }));
const pageTitle = "My Astro learning blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet animi magnam
    nulla voluptate culpa consequatur impedit aliquam vero beatae fugit itaque, vel
    quibusdam ea voluptates numquam sint, iste omnis facilis!
  </p>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
