---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam
    dolores, reiciendis, asperiores natus porro consectetur tempora rerum
    exercitationem id in doloremque ipsum quasi, culpa explicabo optio vel
    laudantium! Quidem?
  </h2>
</BaseLayout>
