---
import Social from "./Social.astro";

const currentYear = new Date().getFullYear();
---

<footer>
  <p><i>Learn more about my projects at:</i></p>
  <Social platform="github" username="BadNamingSystem" />
  <Social platform="youtube" username="astrodotbuild" />
  <Social platform="twitter" username="astrodotbuild" />
  <p class="copyright"><em>{currentYear} &copy; Vlad Claici </em></p>
</footer>

<style>
    Footer {
        display:flex
        gap: 1rem;
        margin-top: 2rem;
    }
    Footer .copyright {
        padding-bottom: 30px;    
    }
</style>
