---
const {platform, username} = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a>

<style>
    a {
        padding: 2px 10px;
        color: white;
        background-color: hsl(300, 98%, 36%);
        text-decoration: none;
        border-radius: 4px;
    }
</style>